
.row__poster {
    object-fit: contain;
    width: 220px;
    /* max-width: 100px; */
    margin-right: 15px;
    transition: transform 450ms;
}
    .row__poster:hover {
        transform: scale(1.08);
    }
.row__posterLarge {
    max-height: 400px;
}