.row {
    margin-left: 20px;
    color: white;
}


.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scrollbar-width: none;
}
.row__posters::-webkit-scrollbar {
    display: none;
}
